@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

* {
  font-family: 'Arimo', sans-serif !important;
}

/* Waymo' Label, that's big and lovely. */

.waymo-label.mat-slide-toggle {
    height: auto;
}

.waymo-label.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(58px,0,0);
}

.waymo-label .mat-slide-toggle-label {
    height: auto;
    margin: 20px; 
    flex-direction: column;
}

.waymo-label .mat-slide-toggle-bar {
    width: 96px;
    height: 32px;
    border-radius: 24px;
    order: 2;
    margin: 10px; 
}

.waymo-label .mat-slide-toggle-thumb-container {
    top: 6px; 
    left: 8px; 
}
